/* Footer Styles */
.footer {
  background-image: url(../assets/wave.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #4682b4;
  min-height: 400px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 10;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Footer Sections */
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 16px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #4682b4;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Social Media */
.social-icons {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.social-icon {
  font-size: 24px;
  color: #4682b4;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #1abc9c; /* Highlight color on hover */
}

.additional-links {
  text-align: start;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #34495e;
  padding-top: 20px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
  }

  .footer {
    color: #d2d0d0;
  }

  .additional-links {
    text-align: end;
  }
  .social-icon {
    color: #d2d0d0;
  }

  .footer-section ul li a {
    color: #d2d0d0;
  }
}
