/* Nav bar related styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #75dce072;
}
.menuTriggerButton {
  display: block;
}
.navContent {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-link-container {
  flex-direction: column;
  position: absolute;
  top: 59px;
  left: 62px;
  background-color: #75dce072;
  width: 200px;
  align-items: start;
  padding: 20px 15px;
  justify-content: center;
  gap: 20px;
}
.openedNav {
  display: flex;
  backdrop-filter: blur(5px);
}
.closedNav {
  display: none;
}
.navItem {
  text-decoration: none;
  font-weight: 600;
  color: #030664;
  padding-bottom: 3px;
  position: relative;
}
.active-route {
  border-bottom: 3px solid #f1c503;
}
.navItem::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #f1c503;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.navItem:hover::after {
  width: 100%;
}

/* service card styles */
.serviceCard {
  border: 2px solid #457b9d;
  padding: 40px 30px;
}

/* Room card styles */
.roomCard {
  border-radius: 10px;
  background: #e8f5e9;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.cardInfo {
  padding: 1rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.roomCard::after,
.roomCard::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #00ffff,
    #ff00ff,
    #8000ff,
    #00ffff
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.roomCard::before {
  filter: blur(1.5rem);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.roomCard:hover::before {
  opacity: 1; /* Show on hover */
  animation: 1s spin linear infinite;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.dashboard-content {
  padding: 0 24px;
  min-height: 100hv;
  margin-top: 60px;
  margin-left: 80px;
}

/* Testimonial */
.testimonialCard {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.testimonialImg {
  width: 100%;
}
.room-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.activePreviewImage {
  border: 2px solid #f1c503;
}

.previewImage {
  border: 2px solid transparent;
}
.room-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.booking-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container {
  background: url(https://res.cloudinary.com/dbwftcxvx/image/upload/v1727472857/spefsu0arkjyyyg6yg58.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-content {
  padding: 30px;
  background-color: rgba(93, 7, 221, 0.082);
  backdrop-filter: blur(5px);
}
/* Tablet responsive breakpoints */
@media only screen and (min-width: 768px) {
  .nav-link-container {
    flex-direction: row;
    position: static;
    width: 100%;
    background-color: transparent;
    backdrop-filter: none;
  }

  .menuTriggerButton {
    display: none;
  }
  .closedNav {
    display: flex;
  }

  .testimonialCard {
    flex-direction: row;
  }
  .booking-container {
    flex-direction: row;
  }
}

/* Large screen breakpoint */
@media only screen and (min-width: 992px) {
  .dashboard-content {
    margin-left: 200px;
  }
  .image-gallery {
    width: 50%;
  }
  .room-info {
    width: 50%;
  }
  .room-details-container {
    flex-direction: row;
  }
}
