.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}

.heroTextHeading {
  font-size: 32px;
  text-align: center;
}

.heroTextSubHeading {
  text-align: center;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .heroTextHeading {
    font-size: 64px;
  }

  .heroTextSubHeading {
    font-size: 32px;
  }
}
