.image-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.room-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.room-overview-container {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #cdcccc;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: start;
}

.room-no {
  display: flex;
  gap: 12px;
  align-items: start;
  justify-content: start;
  font-size: 16px;
  font-weight: 400;
  color: #595959;
  transition: all 300ms;
}
.room-no:hover {
  scale: 1.1;
}
.roomOverview {
  margin: 32px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
}

.amenitiesContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.amenities {
  display: flex;
  gap: 4px;
  font-size: 18px;
}

/* Tablet responsive breakpoints */
@media only screen and (min-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-gallery-thumbnail {
    grid-column: span 2;
    grid-row: span 2;
  }

  .first-detail-image {
    grid-column: span 2;
  }

  .detail-image {
    grid-column: span 1;
  }

  .room-no {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }
}

/* Large screen breakpoint */
@media only screen and (min-width: 992px) {
  .image-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .room-overview-container {
    width: 50%;
    align-items: center;
  }

  .roomOverview {
    flex-direction: row;
  }
}
