.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.image-gallery-thumbnail {
  grid-column: span 2;
  grid-row: span 2;
}

.first-detail-image {
  grid-column: span 2;
}

.detail-image {
  grid-column: span 1;
}

.room-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.room-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 12px;
  color: #333;
}
/* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */

.roomOverview {
  margin: 32px 8px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
}
